body {
      scroll-behavior: smooth;
      background-color:black ;
    }
    html{
      scroll-padding-top: px;
    }
    h1{
      font-family: "Knewave", system-ui;
      font-weight: 400;
      font-style: normal;
      color: #7300cb;
    }
    p{
      font-family: "Carter One", system-ui;
      font-weight: 400;
      font-style: normal;
    }
    h2{
     font-family: Fugaz One, sans-serif;
     font-weight: 400;
     font-style: normal;
    }
    h3{
      font-family: "Carter One", system-ui;
      font-weight: 400;
      font-style: normal;
    }
    ::placeholder{
      font-family: "Carter One", system-ui;
      font-weight: 400;
      font-style: normal;
    }
    .navbar {
      background-color:black;
      transition: transform 300ms;
    }
    .navbar a {
      color: yellow !important;
      font-family: "Knewave", system-ui;
      font-weight: 400;
      font-style: normal;
    }
    .navbar a:hover {
      transform: scale(1.1);
    }
    #home {
      color: white;
      padding: 100px 0;
      text-align: center;
    }
    #home h1 {
      font-size: 3rem;
      font-weight: 700;
    }
    #home p {
      font-size: 1.2rem;
    }
    .section-title {
      font-weight: 700;
      text-align: center;
      margin-bottom: 40px;
      color: #0d6efd;
    }
    .progress-bar {
      background-color: #35d730;
      color: black;
      font-size: small;
      font-weight: bold;
    }
    .project-card {
      transition: transform 0.20s, box-shadow 0.20s;
    }
    .project-card:hover {
      transform: translateY(-15px);
      box-shadow: 0 10px 20px white;
    }
    #contact input, #contact textarea {
      border-radius: 10px;
    }
    #contact button {
      background-color: #0d6efd;
      color: white;
      border-radius: 10px;
    }
    #contact button:hover {
      background-color: #0b5ed7;
    }
    footer {
      background-color:black;
      color:#7300cb;
      text-align: center;
      padding: 6px;
    }
    footer a {
      color: white;
      margin: 0 10px;
      font-size: 1.2rem;
    }
    footer a:hover {
      color: #000000;
    }